{{>layouts/header}}

<a href="/articles/new">보고서 작성</a>

<table class="table">
    <thead>
    <tr>
        <th scope="col">summary</th>
        <th scope="col">keyword</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <td><a href="/articles/{{id}}">{{summary}}</a></td>
            <td>{{keyword}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>

{{>layouts/footer}}